contextlib2==0.5.5
dj-database-url==0.4.2
django-environ==0.4.4
django-sslify==0.2.7
Django==1.11
gunicorn==19.7.1
httplib2==0.10.3
newrelic==2.86.0.65
oauthlib==2.0.2
psycopg2==2.7.1
pytz==2017.2
raven==6.0.0
requests-oauthlib==0.8.0
requests==2.14.2
simplejson==3.10.0
six==1.10.0
tweepy==3.5.0
urllib3==1.13.1
whitenoise==3.3.0
